body {
    background-image: url(deer.jpg);
    background-size: cover;
    width: 100vw;
    min-height:60em; 
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
main{
    margin-top: 2em;
    margin-bottom: 12em;
}
h1 {
    color: white;
    font-size: 4.5em;
    width: 12em;
    margin-bottom: 0;
    font-weight:900;
}
h2{
    font-size: 1.5em;
    margin: 0;
}
p{
    margin: .2em 0;
}
#correct-incorrect-modal > p, #final-jeopardy-modal > p {
    font-size: .75em;
}
.game-container{
    display: flex;
    flex-direction: column;
    margin-left: 2em; 
}

.row{
    display: flex;
    align-items: center;
    width: 44em;
    margin-left: 4em;
    
    
}
.game-square:hover{
    background-color: rgba(175,113,80, .5);
}
.category-square:hover{
    background-color: rgba(140, 168, 147, .8);
}

.game-square {
    display: flex;
    border: 1px solid white;
    width: 4.25em;
    height: 4em;
    font-size: 1.5em;
    color: rgb(54, 32, 16);
    border-radius: .5em;
    align-items: center;
    justify-content: center;
    margin: .2em;
    background-color: rgba(255,255,255, .5);
    font-weight: 900;
    text-align: center;
}
.category-square{
    background-color: rgba(140, 168, 147, .8);
    
}
.modal{
    display: none;
    position: absolute;
    z-index: 1;
    color: white;
    background-color: rgba(101, 126,107,1);
    width: 28%;
    font-size: 2em;
    top: 12em;
    left: 6.5em;
    border-radius: .5em;
    text-align: center;
    padding: .75em;  
}

.score{
    display: flex;
    width: 6em;
    height: 3em;
    background-color: rgb(77, 95, 84);
    color: white;
    font-size: 1.5em;
    padding: 0 1.5em; 
    margin: 13em 4em 13em 8em;
    align-items: center;
    border-radius: .5em;
}
input{
    font-size: .5em;
    border-radius: .4em;
    text-align: center;
}
button{
    font-size: .5em;
    border-radius: .4em;
}

