.game-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 60em;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid purple;
    width: 49%;
    margin: 0 auto;
}
.row2{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid purple;
    width: 49%;
    margin: 0 auto;
}

.category-square{
    display: flex;
    border: 1px solid purple;
    width: 4em;
    height: 4em;
    font-size: 1.5em;
    margin: 0;
}
.game-square {
    display: flex;
    border: 1px solid purple;
    width: 3em;
    height: 3em;
    font-size: 2em;
}